name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Set up Properties file
        run: echo "${{ secrets.PROPERTIES }}" > src/main/resources/application.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6.7.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ci-cd-test:latest
          platforms: linux/amd64 #,linux/arm64

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH to Server and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/ci-cd-test:latest
            docker stop ci-cd-test && docker rm ci-cd-test
            docker run -d -p 9000:9000 --name ci-cd-test ${{ secrets.DOCKER_USERNAME }}/ci-cd-test:latest        
            docker images prune -f
